{
  presets: ['es2015', 'react'],
  plugins: [
    'transform-object-rest-spread'
  ],
  env: {
    test: {
      plugins: [
        'istanbul'
      ]
    },
    development: {
      plugins: [
        [
          "css-modules-transform", {
            extensions: [".css"],
            generateScopedName: "[name]__[local]___[hash:base64:5]"
          }
        ]
      ]
    }
  }
}